[data-user-color-scheme='dark'] .markdown-body pre,
[data-user-color-scheme='dark'] .markdown-body td.gutter,
[data-user-color-scheme='dark'] .markdown-body td.gutter >pre,
[data-user-color-scheme='dark'] .markdown-body td.code > .code-wrapper {
  -webkit-filter: unset;
  filter: unset;
  transition: unset;
}
[data-user-color-scheme='dark'] .markdown-body pre {
  transition: background-color 0.2s ease-in-out;
  background-color: #dddfe1;
}
[data-user-color-scheme='dark'] figure.highlight td.gutter:not(.hljs) {
  transition: background-color 0.2s ease-in-out;
  background-color: #dddfe1;
}
