/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #607080;
  border-radius: 2em;
  min-height: 60px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
