::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 2em;
  min-height: 60px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0,0.7);
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
[data-user-color-scheme='dark'] ::-webkit-scrollbar-thumb {
  background-color: #687582;
}
[data-user-color-scheme='dark'] ::-webkit-scrollbar-thumb:hover {
  background-color: #9da8b3;
}
[data-user-color-scheme='dark'] ::-webkit-scrollbar-thumb:active {
  background-color: #c5d0db;
}
figure.highlight td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
