#waline {
  --waline-avatar-size: 4rem;
  --waline-badge-font-size: 0.75em;
}
#waline label {
  min-width: 28px;
  margin-bottom: 0;
  font-size: 0.875em;
  font-weight: bold;
}
#waline input {
  font-size: 0.875em;
}
#waline .v[data-class='v'] .vcard .vhead .vnick svg {
  bottom: 0.125em;
}
#waline .v[data-class='v'] .vcard .vhead .vbadge {
  line-height: normal;
  padding: 0.1em 0.3em;
}
#waline .v[data-class='v'] .vcard .vmeta > span {
  border-radius: 0.5em;
  margin-right: 1em;
}
#waline .v[data-class='v'] .vcontent .vemoji {
  vertical-align: top;
}
